node_modules/
dist/
build/
*.log
*.env
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.cache
*.eslintcache
*.prettiercache
*.tsbuildinfo
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
